<% include ../partials/head %>

<div class="row">
    <div class="col-md-12">
        <h2>Приватний кабінет <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#transModal"><span class="glyphicon glyphicon-piggy-bank"></span> Нова транзакція</button></h2>
    </div>
</div>

<%
  let formatDate = (d) => d.replace(/(\d+-\d+-\d+)T(\d+:\d+:\d+)\.\d+Z/g,'$1 $2');

  let getLocalDateTime = () => {
    let dateStr = new Date().toISOString() 
    dateStr = dateStr.substr(0, dateStr.indexOf('.')).replace('T', ' ');
    return dateStr;
  }

  let balanceCurrency = currencyList.filter((c) => c.code == userInfo.currency)[0].literal;
  let lastTransaction = transactions.length > 0 ? transactions[0] : null;
  let lastDate = lastTransaction !== null ? formatDate(lastTransaction.date) : '-';
  let lastAmount = '-';
  if (lastTransaction !== null) {
    lastAmount = (lastTransaction.amount > 0 ? '+' + lastTransaction.amount : lastTransaction.amount);
    lastAmount += ' ' + currencyList.filter((c) => c.code == lastTransaction.currency)[0].literal;
  }
  let lastDescription = lastTransaction !== null ? lastTransaction.description : '-';
  
  let plotDates = transactions.map((t) => t.date);
  let plotValues = transactions.map((t) => parseInt(t.balance));
%>

<div class="row">
    <div class="col-md-6">
        <h2><%=userInfo.fullName%></h2>
        <h4><b>Баланс: <span class="text-success"><%=userInfo.balance%> <%=balanceCurrency%></span></b> <small>станом на <%=getLocalDateTime()%></small></h4>
        <h4><b>Остання транзакція:</b> <span class="text-success"><%=lastAmount%></span></h4>
        <h4><b>Дата транзакції:</b> <%=lastDate%></h4>
        <h4><b>Опис транзакції:</b> <%=lastDescription%></h4>
    </div>
    <div class="col-md-6">
        <div id="plotDiv" style="height: 180px">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Номер</th>
                <th>Сума</th>
                <th>Валюта</th>
                <th>Дата</th>
                <th>Баланс</th>
                <th>Опис</th>
              </tr>
            </thead>
            <tbody>
              <% if (transactions.length == 0) { %>
                <tr>
                  <td colspan="7">
                    <h1 class="no-transactions">
                      <small>Транзакції вітсутні</small>
                    </h1>
                  </td>
                </tr>
              <% } %>
              <% for(var i=0; i < transactions.length; i++) { %>
                <% if (transactions[i].amount > 0) { %>
                  <% transactions[i].amount = "+" + transactions[i].amount %>
                  <tr class="success">
                <% } else { %>
                <tr class="danger">
                <% } %>
                  <td><%= transactions[i].id %></td>
                  <td><%= transactions[i].amount %></td>
                  <td><%= currencyList.filter((c) => c.code == transactions[i].currency)[0].literal %></td>
                  <td class="date-cell"><%= formatDate(transactions[i].date) %></td>
                  <td><%= transactions[i].balance %></td>
                  <td><%= transactions[i].description %></td>
                </tr>
              <% } %>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="transModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Створити нову транзакцію</h4>
      </div>
      <div class="modal-body">
    		<label for="amount">Сума</label>
    		<div class="form-group">
    			<input type="number" id="amount" class="form-control" value="100">
    		</div>
        <label for="currency">Валюта:</label>
    		<div class="form-group">
          <select id="currency" class="form-control" data-userCurrency="<%=userInfo.currency%>">
            <% for (var currency of currencyList) { %>
              <option <%=userInfo.currency == currency.code ? 'selected' : ''%> data-convert="<%=currency.convert%>" value="<%=currency.code%>"><%=currency.name%> (<%=currency.literal%>)</option>
            <% } %>
          </select>
        </div>
        <label for="convert">Конвертація:</label>
    		<div class="form-group">
    			<input type="number" id="convert" class="form-control" value="1">
    		</div>
    		<label for="datetime">Дата</label>
    		<div class="form-group">
    			<input type="datetime-local" id="datetime" class="form-control" value="<%=getLocalDateTime().replace(' ', 'T')%>">
    		</div>
    		<label for="description">Опис</label>
    		<div class="form-group">
    			<input type="text" id="description" class="form-control" value="" placeholder="Опис транзакції...">
    		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        <button type="button" class="btn btn-primary" id="create-transaction-btn">Створити</button>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>

<script>
    let plotDiv = document.getElementById("plotDiv");
    let data = {
        x: <%-JSON.stringify(plotDates)%>,
        y: <%-JSON.stringify(plotValues)%>,
        mode: 'lines+markers',
        line: {
            color: '<%=userInfo.colorMain%>',
            width: 3
        },
        marker: {
            color: '<%=userInfo.colorBorder%>',
            size: 8
        }
    };
    Plotly.newPlot(plotDiv, [data], {margin: {t: 20, r: 0, b: 30, l: 30}});
</script>